.card {
    flex: 1 0 auto;
    max-width: 360px;
    background: var(--bg-secondary);
    border-radius: 17px;
    margin: 8px;
    transition: all ease-in-out 220ms;

    &:hover {
        cursor: pointer;
        background: var(--bg-tertiary);
    }

    .image {
        padding: 3px 3px 0 3px;
        border-radius: 17px 17px 0 0;

        img {
            width: 100%;
            height: auto;
            border-radius: 14px 14px 3px 3px;
            margin: 0;
        }
    }

    .content {
        padding: 6px 12px 10px 12px;

        .title {
            font-weight: 500;
            color: var(--preview);
        }

        .description {
            margin: 3px 0 0 0;
            font-size: 0.9em;
            line-height: 1.35;
            color: var(--secondary);
            max-height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        padding: 4px 12px 11px 12px;
        font-weight: 400;
        font-size: 0.9em;
        color: var(--secondary);

        .favicon {
            height: 18px;
            width: 18px;
            margin-right: 6px;
        }
    }
}

.youtube {
    margin: 8px;
    padding: 3px 3px 0px 3px;
    border-radius: 17px;
    background: var(--bg-secondary);
    width: 100%;
    max-width: 560px;

    &:hover {
        background: var(--bg-tertiary);
    }

    iframe {
        width: 100%;
        height: 340px;
        border-radius: 14px;
        margin: 0;
        padding: 0;
        border: none;

        &::after {
            display: none;
        }
    }
}