/* For Chrome, Safari, and Opera */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
    width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 5px;
    width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--active);
}

/* For Firefox */
.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-x:hidden;
    overflow-y: overlay;
}