.iconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 36px;
  border-radius: 8px;
  transition: all ease-in-out 120ms;
  -webkit-app-region: none;
  background: transparent;
  margin-right: -2px;

  .settingsIcon {
    color: var(--secondary);
    height: 18px;
    width: 18px;
    transition: all ease-in-out 220ms;
    transition-delay: 40ms;
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;
    background: var(--bg-secondary);
    color: var(--primary);

    .homeIcon,
    .settingsIcon {
      opacity: 1;
    }
  }

  &:active {
    background: var(--bg-tertiary);
  }
}

button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  background-color: var(--bg-tertiary);
  position: fixed;
  inset: 0;
  animation: overlayShow 120ms cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 0.9;
  z-index: 40;
}

.DialogContent {
  z-index: 50;
  background-color: var(--bg);
  border-radius: 22px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 95vh;
  padding: 18px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  overflow-y: overlay;
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Porpora';
  font-size: 1.4em;
  color: var(--primary);
}

.DialogDescription {
  margin: 6px 0 0;
  color: var(--secondary);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  background: var(--base);
  border-radius: 8px;
  transition: all ease-in-out 120ms;
  padding: 0 14px;
  line-height: 28px;
  color: var(--base-text);
  font-size: 0.85em;
  border-radius: 90px;
  user-select: none;

  .icon {
    height: 18px;
    width: 18px;
  }

  &.active {
    background: var(--bg-secondary);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--primary);
  }

  &:hover {
    cursor: pointer;
    background: var(--base-hover);
  }

  &:active {
    background: var(--base);
  }
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 28px;
  width: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all ease-in-out 120ms;
  stroke-width: 2px;
  color: var(--secondary);

  &:hover {
    cursor: pointer;
    color: var(--primary);
    background-color: var(--bg-secondary);
  }
}

.Fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.group {
  display: flex;
  gap: 14px;

  .Fieldset {
    &:first-child {
      flex: 2 1 70%;
    }

    &:last-child {
      flex: 1 1 auto;
    }
  }
}

.switch {
  margin-top: 14px;
  padding: 9px 12px;
  border-radius: 12px;
  background-color: var(--bg-tertiary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  .Label {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--secondary);
    font-size: 13px;
    margin: 0;

    .icon {
      height: 17px;
      width: 17px;
      margin-top: -1px;
      color: var(--primary);
    }
  }

  .switchRoot {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 27px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--bg);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: var(--active);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px var(--active-hover);
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  }
}

.disclaimer {
  font-size: 0.8em;
  color: var(--secondary);
  margin-top: 10px;
  line-height: 1.4;
  opacity: 0.75;

  a {
    color: var(--active);

    &:hover {
      color: var(--active-hover);
    }
  }
}

.Label {
  font-size: 12px;
  color: var(--secondary);
  margin-bottom: 8px;
}

.Input {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1;
  color: var(--primary);
  background: var(--bg-tertiary);
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;

  &:focus {
    box-shadow: 0 0 0 2px var(--base);
  }
}

.Textarea {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.35;
  min-height: 150px;
  width: 100%; /* Ensure the width is 100%, no less, no more */
  resize: none; /* Prevent resizing */
  color: var(--primary);
  background: var(--bg-tertiary);
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;

  &:focus {
    box-shadow: 0 0 0 2px var(--base);
  }
}

.themes {
  display: flex;
  margin: -5px;
  margin-bottom: 0px;

  .theme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32px;
    width: 30px;
    background: var(--bg-secondary);
    margin: 5px;
    border-radius: 12px;

    .color1 {
      flex: 1 0 auto;
      border-radius: 10px;
      margin: 2px;
      // margin-bottom: 0;
    }

    .color2 {
      flex: 1 0 auto;
      border-radius: 0 0 10px 10px;
      margin: 3px;
      margin-top: 0;
    }

    &:hover {
      cursor: pointer;
      background: var(--bg-tertiary);
    }

    &.current {
      background: var(--primary);
    }
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
