.iconHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 36px;
    border-radius: 8px;
    transition: all ease-in-out 120ms;
    -webkit-app-region: none;
    background: transparent;
    margin-right: -2px;

    .settingsIcon {
        color: var(--secondary);
        height: 23px;
        width: 23px;
        transition: all ease-in-out 220ms;
        transition-delay: 40ms;
        opacity: 0.5;
    }

    &:hover {
        cursor: pointer;
        background: var(--bg-secondary);
        color: var(--primary);

        .homeIcon,
        .settingsIcon {
            opacity: 1;
        }
    }

    &:active {
        background: var(--bg-tertiary);
    }
}

button,
fieldset,
input {
    all: unset;
}

.DialogOverlay {
    background-color: var(--bg-secondary);
    position: fixed;
    inset: 0;
    animation: overlayShow 120ms cubic-bezier(0.16, 1, 0.3, 1);
    opacity: 0.9;
    z-index: 4;
}

.DialogContent {
    z-index: 6;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    height: 100vh;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    overflow-y: overlay;
    padding: 14px 50px 100px 0;
    backdrop-filter: blur(7px);
}

.DialogContent:focus {
    outline: none;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 600px;
}

.DialogContentOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: linear-gradient(to bottom, transparent, 15%, var(--bg-secondary));
    z-index: 10;
}

.DialogTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--active);
    font-weight: 400;
    border-radius: 7px;
    margin: 100px 0 16px 0;
    font-size: 15px;
    line-height: 1.5;
    mix-blend-mode: soft-light;
}

.close {
    font-family: inherit;
    border-radius: 90px;
    height: 32px;
    width: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 120ms;
    stroke-width: 2px;
    background: var(--bg-tertiary);
    color: var(--secondary);
    margin-left: 12px;
    position: fixed;
    top: 16px;
    right: 16px;

    &:hover {
        cursor: pointer;
        color: var(--primary);
    }

    &:active {
        transform: scale(0.9);
    }

    &.win {
        position: relative;
        margin: -5px 0 0 0;
        top: 0;
        left: 0;
    }
}

.textarea {
    display: block;
    background: none;
    border: none;
    font-size: 3em;
    color: var(--secondary);
    resize: none;
    width: 100%;
    outline: none;
    max-width: 600px;
    font-weight: 550;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom left, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::placeholder {
        color: var(--secondary);
        background: linear-gradient(to bottom right, var(--primary), var(--bg-tertiary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:focus {
        color: var(--primary);
    }
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 32px;

    .ask {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 37px;
        // line-height: 38px;
        background: var(--active);
        border-radius: 8px;
        transition: all ease-in-out 120ms;
        padding: 0 12px;
        color: var(--active-text);
        border-radius: 90px;
        user-select: none;
        font-size: 1.2em;
        font-weight: 500;
        width: 90px;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;

        &.processing {
            width: 75px;
        }

        .icon {
            height: 18px;
            width: 18px;
        }

        .spinner {
            height: 22px;
            width: 22px;
            align-self: center;
        }

        &.active {
            background: var(--bg-secondary);
        }

        &:hover {
            cursor: pointer;
            background: var(--active-hover);
        }

        &:active {
            background: var(--base);
        }
    }


}

.answer {
    padding-bottom: 50px;
    padding-right: 50px;
    border-bottom: 1px dashed var(--border);
    margin: 60px 0 50px 0;
    color: var(--secondary);
}

.text {
    font-size: 1.6em;
    line-height: 1.45;
}

.text_context {
    font-size: 0.95em;
    margin-top: 20px;
    line-height: 1.45;
    max-width: 380px;
    opacity: 0.7;
}

.post {
    position: relative;
    font-size: 1rem;
    margin-left: -15px;
    z-index: 9;
    pointer-events: none;
    margin-bottom: 30px;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, 20%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}