.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  justify-self: center;
  height: calc(100vh - 200px);
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;

  .icon {
    height: 55px;
    width: 60px;
    margin: 22px auto;
  }

  .line {
    height: 80px;
    width: 1px;
    margin: 20px auto;
    border-right: 2px dotted var(--border);
  }

  .title {
    font-family: 'Porpora';
    font-size: 2.4em;
    margin: 0 auto;
    max-width: 300px;
    line-height: 1.1;
    color: var(--primary);
    text-shadow: 0 0 50px var(--base), 20px -230px 100px var(--base-hover);
  }

  .des {
    font-size: 1.2em;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 240px;
  }
}
