.frame {
  position: relative;
  max-width: 100vw;
  color: var(--primary);
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--bg-secondary);
  opacity: 0.3;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;
  height: var(--nav-height);
  font-size: 0.85em;
  background: var(--bg);
  transition: all ease-in-out 220ms, border ease-in-out 500ms;
  background: linear-gradient(to bottom, var(--bg), 90%, transparent);
  -webkit-app-region: drag;
  width: calc(100% - 16px);

  .left {
    display: flex;
    align-items: center;
    flex: 1 1 300px;
    height: var(--nav-height);
    overflow: hidden;
    transition: all ease-in-out 120ms;
    padding-bottom: 3px;
    text-wrap: nowrap;

    .search {
      display: flex;
      margin-left: 12px;
      border-radius: 22px;
      width: 220px;
      align-items: center;
      -webkit-app-region: none;
      background: var(--bg-secondary);
      padding: 0 8px;
      transition: all ease-in-out 220ms;

      @media only screen and (max-width: 909px) {
        margin-left: 90px;
      }

      .icon {
        color: var(--secondary);
        margin-right: 4px;
        opacity: 0.7;
      }

      input {
        display: block;
        border: none;
        outline: none;
        box-shadow: none;
        background: transparent;
        width: 100%;
        height: calc(var(--nav-height) - 18px);
        opacity: 0.75;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: var(--nav-height);
    transition: all ease-in-out 220ms;
    transition-delay: 1s;

    .iconHolder {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      min-width: 36px;
      border-radius: 8px;
      transition: all ease-in-out 120ms;
      -webkit-app-region: none;
      background: transparent;

      &:last-child {
        margin-right: 0px;
      }

      .homeIcon {
        color: var(--secondary);
        height: 19px;
        width: 19px;
        transition: all ease-in-out 220ms;
        transition-delay: 40ms;
        opacity: 0.5;
      }

      .settingsIcon {
        color: var(--secondary);
        height: 17px;
        width: 17px;
        transition: all ease-in-out 220ms;
        transition-delay: 40ms;
        opacity: 0.5;
      }

      &.active {
        background: var(--bg-secondary);
      }

      &:hover {
        cursor: pointer;
        background: var(--bg-secondary);
        color: var(--primary);

        .homeIcon,
        .settingsIcon {
          opacity: 1;
        }
      }

      &:active {
        background: var(--bg-tertiary);
      }
    }

    .pile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
    }
  }
}

.main {
  display: flex;
  position: relative;
  max-width: 100vw;

  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--sidebar-width);
    flex: 0 0 var(--sidebar-width);
    border-right: 1px solid rgba(0, 0, 0, 0.03);

    @media only screen and (max-width: 909px) {
      display: none;
      width: 0px;
      opacity: 0;
    }

    .top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-self: flex-end;
      flex: 0 0 var(--sidebar-width);
      height: var(--nav-height);
      font-size: 0.8em;
      transition: all ease-in-out 220ms;
      white-space: nowrap;
      user-select: none;
      -webkit-app-region: drag;

      .part {
        display: flex;
        justify-content: flex-end;
        width: 160px;
        text-overflow: ellipsis;

        .count {
          margin-top: -5px;
          margin-right: 12px;
          color: var(--secondary);
          opacity: 0.7;

          span {
            background: var(--bg-secondary);
            color: var(--primary);
            padding: 2px 4px;
            border-radius: 7px;
            margin-right: 2px;
          }
        }
      }
    }
  }

  .content {
    position: relative;
    flex: 1 0 calc(100vw - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    font-size: 0.9em;
    background: var(--bg);
    box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.05);
    background: var(--bg);
    min-height: 100vh;
    height: 100vh;
    overflow-y: overlay;
    overflow-x: hidden;

    @media only screen and (max-width: 909px) {
      margin-left: 0;
      box-shadow: none;
    }

    .left {
      display: flex;
      margin-left: 16px;

      color: var(--secondary);
      opacity: 0.5;
      transition: all ease-in-out 120ms;
      font-size: 13px;
    }
  }
}

// OS Styles

.mac {
  .nav {
    @media only screen and (max-width: 909px) {
      padding-left: 70px;
    }
  }
}

.win {
  .nav {
    padding-right: 130px;
  }
}
