.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow-y: overlay;
    position: relative;
    -webkit-app-region: drag;

}

.wrapper {
    position: relative;
    max-width: 380px;
    margin: 0 auto;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:
        linear-gradient(to top, var(--base), 30%, transparent);
    filter: brightness(4);
    opacity: 0.3;
}

.header {
    -webkit-app-region: none;
    user-select: none;

    .img {
        display: block;
        width: 60px;
        border-radius: 90px;
        margin: 0 auto;
        margin-bottom: 12px;
    }

    .logo {
        display: block;
        // animation: logo 3.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        background: linear-gradient(to bottom, var(--base), var(--base-green));
        height: 68px;
        width: 53px;
        border-radius: 90px;
        margin: 0 auto;
    }

    .name {
        font-family: "Porpora";
        font-size: 1.6em;
        text-align: center;
        margin-top: 16px;
        color: var(--primary);

    }

    .version {
        text-align: center;
        color: var(--secondary);
        margin-top: 4px;
        font-size: 0.85em;
        max-width: 200px;
        margin: 6px auto;
        line-height: 1.45;

    }
}

.create {
    -webkit-app-region: none;
    display: block;
    text-align: center;
    font-size: 0.8em;
    padding: 9px 12px;
    font-weight: 500;
    color: var(--base);
    background: Var(--bg-secondary);
    border-radius: 12px;
    margin: 32px auto;
    user-select: none;

    &:hover {
        cursor: pointer;
        color: var(--base-hover);
        background: var(--bg-tertiary);
    }
}

.or {
    font-size: 0.75em;
    color: var(--secondary);
    margin-bottom: 12px;
    text-align: center;
    user-select: none;
}

.piles {
    font-size: 0.8em;
    border-radius: 12px;
    // border: 1px solid var(--border);
    overflow: hidden;

    .pile {
        -webkit-app-region: none;
        display: flex;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        margin-bottom: 1px;
        padding: 7px 7px 7px 9px;
        color: var(--primary);


        &:last-child {
            border-bottom: none;
        }

        .name {
            font-weight: 500;
            user-select: none;
        }

        .src {
            margin-top: 1px;
            font-size: 0.9em;
            color: var(--secondary);
        }

        .right {
            display: flex;
            align-items: center;
            margin-left: 64px;
            user-select: none;

            .icon {
                margin-right: 8px;
                color: var(--secondary);
                height: 18px;

                &:hover {
                    cursor: pointer;
                    color: var(--base-red);
                }
            }
        }
    }

    .button {
        background: var(--bg);
        color: var(--primary);
        font-size: 0.95em;
        padding: 9px 22px;
        line-height: 1;
        border-radius: 9px;
        user-select: none;
        transition: all ease-in-out 120ms;

        &:hover {
            cursor: pointer;
            background: var(--bg-secondary);
        }

        &:active {
            cursor: pointer;
            background: var(--bg-tertiary);
        }
    }
}

.footer {
    margin: 0 auto;
    font-size: 0.75em;
    color: var(--secondary);
    text-align: center;
    margin-top: 25%;
    line-height: 1.4;
    opacity: 0.5;
    -webkit-app-region: none;


    a {
        color: var(--secondary);
        transition: all ease-in-out 180ms;

        &:hover {
            color: var(--primary);

            .unms {
                background: var(--primary);
            }
        }
    }

    .unms {
        display: block;
        height: 16px;
        width: 30px;
        background: var(--secondary);
        border-radius: 0 90px 90px 0;
        margin: 0 auto;
        margin-bottom: 10px;
        transition: all ease-in-out 120ms;
    }

    .nav {
        margin-top: 22px;

        .link {
            color: Var(--secondary);
            margin: 0 1em;
            transition: all ease-in-out 120ms;

            &:hover {
                color: var(--primary);
            }
        }
    }
}