.blobCont {
  --bg: #000000;
  --text: var(--secondary);
  --black: var(--base-green);
  --purple: var(--base-yellow);
  --green: var(--active);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: 500px;
  width: 800px;
  max-width: 800px;
  position: relative;
  position: fixed;
  bottom: -270px;
  left: 50%;
  margin-left:-550px;
  opacity: 0.5;
}

.blob {
  border-radius: 100px;
  filter: blur(30px);
}

.black {
  background-color: var(--black);
  position: absolute;
  top: 286px;
  left: -63px;
  height: 194px;
  width: 186px;
  animation: black 6s infinite ease;
}

.green {
  background-color: var(--green);
  position: absolute;
  top: 186px;
  right: -173px;
  height: 190px;
  width: 210px;
  animation: green 6s infinite ease;
}

.purple {
  background-color: var(--purple);
  position: absolute;
  right: -10px;
  top: 942px;
  height: 185px;
  width: 220px;
  animation: purple 6s infinite ease;
}
@keyframes black {
  0% {
    top: 200px;
    left: 100px;
    transform: scale(1);
  }
  30% {
    top: 300px;
    left: 150px;
    transform: scale(1.2);
  }
  60% {
    top: 100px;
    left: 200px;
    transform: scale(1.3);
  }
  100% {
    top: 200px;
    left: 100px;
    transform: scale(1);
  }
}
@keyframes green {
  0% {
    top: 80px;
    right: -20px;
    transform: scale(1.2);
  }
  30% {
    top: 300px;
    right: -20px;
    transform: scale(1);
  }
  60% {
    top: 200px;
    right: 100px;
    transform: scale(1);
  }
  100% {
    top: 80px;
    right: -20px;
    transform: scale(1.2);
  }
}
@keyframes purple {
  0% {
    top: 250px;
    right: 0px;
    transform: scale(1);
  }
  30% {
    top: 150px;
    right: 150px;
    transform: scale(1.4);
  }
  60% {
    top: 250px;
    right: 100px;
    transform: scale(1);
  }
  100% {
    top: 250px;
    right: 0px;
    transform: scale(1);
  }
} 
.blobCont::before,
.blobCont::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 40%;
}

.blobCont {
  //   filter: url(#noiseFilter);
}
