.root {
    padding: 5px 0;
    height: auto;
    scroll-padding: 60px;
    scroll-snap-type: x proximity;
}

.post {
    display: flex;
    position: relative;
    padding: 0 18px;

    .left {
        display: flex;
        flex-direction: column;
        width: 20px;
        margin-right: 12px;
        user-select: none;
        align-items: center;

        // .straight .curved
        .connector {}

        .ball {
            flex: 0 0 20px;
            height: 20px;
            width: 20px;
            background: var(--border);
            border-radius: 90px;
            user-select: none;
            position: relative;
            z-index: 1;
            transition: all ease-in-out 120ms;
            margin: 4px 0;

            &:hover {
                cursor: pointer;
                background: var(--bg-tertiary);
                filter: contrast(0.9);
            }

            &:active {
                background: var(--bg-secondary);
                transform: scale(0.8);
            }

            &.ai {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--secondary);
                font-size: 10px;
                line-height: 1;
                font-weight: 500;

                .iconAI {
                    height: 15px;
                    width: 15px;
                    fill: var(--bg);
                    mix-blend-mode: luminosity;
                }
            }
        }

        .line {
            flex: 0 0 0;
            width: 0px;
            background: none;
            border: none;
            border-right: 2px solid var(--border);
            opacity: 0;
            transition: all ease-in-out 120ms;

            &.show {
                flex: 1 0 auto;
                opacity: 1;
                transition-delay: 15ms;
            }

            &.ai {
                border-right-style: dotted;
            }

        }
    }

    .right {
        margin: 4px 0;
        width: 100%;
        padding-bottom: 12px;

        &.hasReplies {
            padding-bottom: 12px;
        }
    }

    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 18px;

        .title {}

        .meta {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: -3px;

            .time {
                position: relative;
                z-index: 1;
                color: var(--secondary);
                font-size: 0.9em;
                padding: 3px 5px;
                transition: all ease-in-out 120ms;
                border-radius: 6px;
                user-select: none;
                margin: 0 -5px;

                &:hover {
                    cursor: pointer;
                    background: var(--bg-secondary);
                    color: var(--primary);
                    opacity: 1;
                }

                &:active {
                    cursor: pointer;
                    background: var(--bg-tertiary);
                }
            }
        }
    }

    .editor {
        width: 100%;

        &.ai {
            color: var(--secondary);
        }
    }
}

.reply {
    .left {
        .connector {
            margin-top: 3px;
            height: 15px;
            width: 2px;
            background: var(--border);
            transition: all ease-in-out 120ms;
            transition-delay: 120ms;
            opacity: 0;

            &.show {
                opacity: 1;
            }


        }
    }

    .right {
        margin-top: 22px;
    }
}

.actions {
    display: flex;
    padding: 0 16px 0 20px;
    margin: 1px -5px;

    .openReply {
        display: flex;
        align-items: center;
        // z-index: 1;
        font-size: 0.9em;
        user-select: none;
        padding: 2px 13px 2px 2px;
        transition: all ease-in-out 120ms;
        border-radius: 90px;
        margin-right: 8px;
        margin-top: 3px;
        background: var(--base);
        color: var(--primary);
        line-height: 1;
        white-space: nowrap;

        &:hover {
            cursor: pointer;
            filter: contrast(1.15);
        }

        &:active {
            filter: contrast(0.85);
        }


        .icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 25px;
            width: 25px;
            margin-right: 4px;
            fill: currentColor;
            transition: all ease-in-out 120ms;
        }

        .icon2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 18px;
            width: 18px;
            margin-right: 6px;
            margin-left: 5px;
            fill: currentColor;
            transition: all ease-in-out 120ms;
        }
    }
}