.frame {
    display: block;
    margin-left: 1px;
    backdrop-filter: blur(10);

    &.isNew {
        // ideal default height of empty editor
        min-height: 55px;
    }
}

.header {}

.editor {
    display: block;
    width: 100%;
    width: calc(100% - 120px);
    max-width: 600px;

    p {
        line-height: 1.45;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.editorBig {
        p {
            font-size: 1.2em;
            margin-top: -2px;
        }
    }
}

.uneditable {
    cursor: default;
}

.media {
    display: block;
    // overflow-x: auto;
    position: relative;
    height: 0px;

    &.open {
        height: 360px;
    }

    .scroll {
        position: absolute;
        top: 0;
        left: -51px;
        width: calc(100vw - var(--sidebar-width));
        padding-left: 40px;
        padding-bottom: 12px;
        overflow-x: auto;

        &.new {
            left: -19px;
        }

        @media only screen and (max-width: 909px) {
            width: 100vw;
        }
    }

    .container {
        white-space: nowrap;
        margin: 12px 0 0 0;
    }

}

.footer {
    margin-top: 16px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
        display: flex;
        align-items: center;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 28px;
            width: 34px;
            background: var(--bg-secondary);
            color: var(--secondary);
            border-radius: 7px;
            transition: all ease-in-out 120ms;
            margin-right: 7px;

            .icon {
                height: 23px;
                width: 23px;
                fill: var(--secondary);
            }

            &.active {
                background: var(--bg-secondary);
            }

            &:hover {
                cursor: pointer;
                background: var(--bg-tertiary);
                color: var(--primary);
            }

            &:active {
                background: var(--bg-secondary);
            }
        }

        .tags {
            display: flex;
            align-items: center;
            border-radius: 8px;
            padding: 3px 8px 3px 4px;
            background: var(--bg-secondary);
            height: 30px;

            .icon {
                height: 18px;
                width: 18px;
                margin-right: 3px;
                color: var(--secondary);
            }

            .newTag {
                border: none;
                outline: none;
                background: transparent;
            }

        }
    }

    .right {
        display: flex;
        align-items: center;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 28px;
            background: var(--base);
            border-radius: 8px;
            transition: all ease-in-out 120ms;
            padding: 0 14px;
            line-height: 28px;
            color: var(--base);
            color: var(--active-text);
            font-size: 0.9em;
            border-radius: 90px;
            user-select: none;

            .icon {
                height: 18px;
                width: 18px;
            }

            &.active {
                background: var(--bg-secondary);
            }

            &:hover {
                cursor: pointer;
                background: var(--base-hover);
            }

            &:active {
                background: var(--base);
            }
        }

        .deleteButton {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 28px;
            background: var(--bg);
            border-radius: 8px;
            transition: all ease-in-out 120ms;
            padding: 0 14px;
            line-height: 28px;
            color: var(--base-red);
            font-size: 0.9em;
            border-radius: 90px;
            user-select: none;
            margin-right: 6px;

            .icon {
                height: 18px;
                width: 18px;
            }

            &:active {
                filter: brightness(0.9);
            }

            &:hover {
                cursor: pointer;
                background: var(--base-red-light);
            }
        }
    }


}