.frame {
  display: block;
  margin-left: 1px;
  backdrop-filter: blur(10);

  &.isNew {
    // ideal default height of empty editor
    min-height: 55px;
  }
}

.header {
}

.editor {
  display: block;
  width: 100%;
  width: calc(100% - 120px);
  max-width: 600px;

  p {
    line-height: 1.45;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: var(--secondary);

    &:hover {
      color: var(--base);
    }
  }

  &.editorBig {
    p {
      font-size: 1.2em;
      margin-top: -2px;
    }
  }

  &.responding {
    p {
      --bg-size: 400%;
      background: linear-gradient(
          -90deg,
          var(--secondary),
          var(--primary),
          var(--secondary)
        )
        0 0 / var(--bg-size) 100%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      transition: all ease-in-out 120ms;
      animation: move-bg 4s infinite linear;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .responding {
      p {
        animation: move-bg 8s linear infinite;
      }
    }

    @keyframes move-bg {
      to {
        background-position: calc(-1 * var(--bg-size)) 0;
      }
    }
  }
}

.uneditable {
  cursor: default;
}

.media {
  display: block;
  position: relative;
  height: 0px;
  margin-top: 14px;

  &.open {
    height: 360px;
  }

  .scroll {
    position: absolute;
    top: 0;
    left: -51px;
    width: calc(100vw - var(--sidebar-width));
    padding-left: 40px;
    padding-bottom: 12px;
    overflow-x: auto;

    &.new {
      left: -19px;
    }

    @media only screen and (max-width: 909px) {
      width: 100vw;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .container {
    display: flex;
    white-space: nowrap;
    margin: 12px 0 0 0;
  }
}

.footer {
  margin-top: 16px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 26px;
      width: 26px;
      background: var(--bg-secondary);
      color: var(--secondary);
      border-radius: 9px;
      transition: all ease-in-out 120ms;
      margin-right: 7px;

      .icon {
        height: 23px;
        width: 23px;
        fill: var(--secondary);
        transition: all ease-in-out 120ms;
      }

      &.active {
        background: var(--bg-secondary);
      }

      &:hover {
        cursor: pointer;
        background: var(--bg-tertiary);
        color: var(--primary);

        .icon {
          fill: var(--primary);
        }
      }

      &:active {
        background: var(--bg-secondary);
      }
    }

    .tags {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 3px 8px 3px 4px;
      background: var(--bg-secondary);
      height: 30px;

      .icon {
        height: 18px;
        width: 18px;
        margin-right: 3px;
        color: var(--secondary);
      }

      .newTag {
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 28px;
      background: var(--base);
      border-radius: 8px;
      transition: all ease-in-out 120ms;
      padding: 0 18px;
      line-height: 28px;
      color: var(--base-text);
      font-size: 0.9em;
      border-radius: 90px;
      user-select: none;
      font-weight: 500;

      .icon {
        height: 18px;
        width: 18px;
      }

      &.active {
        background: var(--bg-secondary);
      }

      &:hover {
        cursor: pointer;
        background: var(--base-hover);
      }

      &:active {
        background: var(--base);
      }
    }

    .deleteButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 28px;
      background: var(--bg);
      border-radius: 8px;
      transition: all ease-in-out 120ms;
      padding: 0 14px;
      line-height: 28px;
      color: var(--base-red);
      font-size: 0.9em;
      border-radius: 90px;
      user-select: none;
      margin-right: 6px;

      .icon {
        height: 18px;
        width: 18px;
      }

      &:active {
        filter: brightness(0.9);
      }

      &:hover {
        cursor: pointer;
        background: var(--base-red-light);
      }
    }
  }
}
