.toast {
    display: inline-flex;
    align-items: center;
    text-align: right;
    font-size: 0.8rem;
    text-wrap: nowrap;

    .icon {
        height: 18px;
        width: 18px;
        min-height: 18px;
        min-width: 18px;
        margin-left: 10px;
    }

    &.info {
        color: var(--primary);
    }

    &.waiting {
        color: var(--secondary);
    }

    &.thinking {
        color: var(--active);
    }

    &.success {
        color: var(--base);
    }

    &.failed {
        color: var(--base-red);
    }

    &.attached {
        color: var(--base);
    }
}