.container {
    display: inline-flex;
    align-items: center;
    color: var(--active);
    font-weight: 400;
    border-radius: 7px;
    margin: 0 0 16px 0;
    font-size: 15px;
    line-height: 1.5;
    mix-blend-mode: soft-light;
}

.reflectIcon {
    height: 28px;
    width: 28px;
    margin-right: 9px;
}

.waiting {
    height: 23px;
    width: 23px;
    margin-right: 12px;
}