.frame {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    height: 100vh;
    overflow-y: overlay;
    max-width: 420px;
    margin: 0 auto;
    margin-top: 140px;
}

.header {
    .back {
        color: var(--secondary);
        // text-transform: uppercase;
        font-size: 0.8em;
        transition: all ease-in-out 120ms;
        background: var(--bg-secondary);
        border-radius: 8px;
        padding: 4px 6px;

        &:hover {
            color: Var(--primary);
            background: var(--bg);
        }

        &:active {
            background: var(--bg-secondary);
        }
    }

    .name {
        font-family: "Porpora";
        font-size: 1.4em;
        margin-top: 16px;
        color: var(--primary);
    }

}

.text {
    font-size: 0.75em;
    color: var(--primary);
    margin-top: 16px;
    line-height: 1.4;
    opacity: 0.5;
}