/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* Root variables for app theme, dark and light mode */
:root {
  --brand: #00ff29;
  --translucent: rgba(193, 193, 193, 0.5);
  --sidebar-width: 250px;
  --nav-height: 52px;

  --primary: #0b0b0b;
  --secondary: #626262;

  --base: #4d80e6;
  --base-text: rgb(246, 247, 255);
  --base-hover: #2b5bbb;
  --base-yellow: #e6e04d;
  --base-green: #4de64d;
  --base-red: #e64d4d;
  --base-red-light: #ffdbdb;

  --active: #c69100;
  --active-hover: #946d00;
  --active-text: #fff;

  --border: #e4e4e4;

  --bg: #fff;
  --bg-secondary: rgb(246, 246, 246);
  --bg-tertiary: rgb(220, 220, 220);
  --bg-color-secondary-hover: rgb(226, 226, 226);
}

@media (prefers-color-scheme: dark) {
  :root {
    --translucent: rgba(0, 0, 0, 0.5);
    --sidebar-width: 250px;
    --nav-height: 52px;

    --primary: #fff;
    --secondary: #c1c1c1;

    --base: #4d88ff;
    --base-text: hsl(213, 100%, 93%);
    --base-hover: #82acff;
    --base-yellow: #776b0e;
    --base-green: #128212;
    --base-red: #cb1d1d;
    --base-red-light: #3d2323;

    --active: #c69100;
    --active-hover: #946d00;
    --active-text: #fff;

    --border: #565656;

    --bg: #171717;
    --bg-secondary: #373737;
    --bg-tertiary: #575757;
    --bg-color-secondary-hover: rgb(108, 108, 108);

    /* Theme 1 */
    /* --translucent: rgba(13, 10, 35, 0.5);
    --sidebar-width: 250px;
    --nav-height: 52px;

    --primary: #ffe9ff;
    --secondary: #ab92ae;

    --base: #d014e1;
    --base-hover: #df38e5;
    --base-yellow: #776b0e;
    --base-green: #128212;
    --base-red: rgb(255, 71, 71);
    --base-red-light: #3d2323;

    --active: #ff9500;
    --active-hover: #df7000;
    --active-text: #fff;

    --border: #5f4263;

    --bg: #251b24;
    --bg-secondary: #481e51;
    --bg-tertiary: #5a1a5f;
    --bg-color-secondary-hover: rgb(114, 95, 122);
    --bg-translucent: rgba(32, 10, 35, 0.45); */

    /* Midnight */
    /* --translucent: rgba(13, 10, 35, 0.5);
    --sidebar-width: 250px;
    --nav-height: 52px;

    --primary: #e9f3ff;
    --secondary: #9299ae;

    --base: #4d8eff;
    --base-hover: #8299ff;
    --base-yellow: #776b0e;
    --base-green: #128212;
    --base-red: rgb(255, 25, 25);
    --base-red-light: #3d2323;

    --active: #ff9634;
    --active-hover: #ff8000;
    --active-text: #fff;

    --border: #424a63;

    --bg: #1b1d25;
    --bg-secondary: #16233c;
    --bg-tertiary: #1a375f;
    --bg-color-secondary-hover: rgb(95, 100, 122);
    --bg-translucent: rgba(10, 15, 35, 0.45); */
    
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'Porpora';
  font-weight: 400;
  font-display: swap;
  src: url('../../assets/porpora/Porpora-Regular.woff2') format('woff2'),
    url('../../assets/porpora/Porpora-Regular.woff') format('woff');
}

@import '../../assets/inter/inter.css';

* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  color: var(--primary);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
